body{
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
}

header .nav{
    min-height: 80px;
    overflow: hidden;
    background: #fff;
}

header .logo h2,
header .logo p{
    font-size: 16px;
    display: inline-block;
}

header .logo .icono{
    color: #bfbfbf;
}

header.logo svg{
    width: 20px;
    height: 20px;
}

header .logo p{
    color: #777777;
}

header .menu .c1{
    background: #3da5e2;
}

header .menu .c2{
    background: #005385;
}

header .menu .c3{
    background: #003855;
}

header .menu .c1:hover{
    background: #1ba0ef;
}

header .menu .c2:hover{
    background: #00426a;
}

header .menu .c3:hover{
    background: #002d44;
}

/*main*/
/*portafolio*/

.portafolio{
    border-top: 5px solid #3da5e2;
    background: #fff;
}

.portafolio .titulo{
    color:#3da5e2 ;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.portafolio .galeria .contenedor-imagen{
    max-height: 180px;
    overflow: hidden;
}

.portafolio .galeria .contenedor-imagen a{
    background: #3da5e2;
    display: inline-block;
}


.portafolio .galeria .contenedor-imagen:hover img{
   opacity: .3;
}

.modal-dialog{
    max-width: 1000px;
}

/*acerca de */
.acerda-de .foto .nombre{
    color: #545454;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 2px;
}

.acerca-de .info .titulo{
    color: #005385;
    font-family: 'Open Sans',sans-serif;
    font-weight: 300;
    font-size: 40px;
    margin-bottom: 30px;
}

.acerca-de .info .resumen{
    letter-spacing: 1px;
}

.acerca-de .info .label{
    font-size: 18px;
    font-weight: 600;
    color: #005385;
    margin-bottom: 10px;
}

.acerca-de .info .progress{
    background: #005385;
    border-radius: 0;
    height: 25px;
   
}

.acerca-de .info .progress .progress-bar{
    background: #3da5e2;
    line-height: 25px;
    padding-left: 20px; 
}

@media screen and(max-width: 576px){
    
}
    
@media screen and(max-width: 768px){
    
}
    
@media screen and(max-width: 992px){
    .logo {
        height: 76px;
    }

    header .menu{
        min-height: 76px;
    }

    header .menu a{
        width: 100%;
    }

}
    
@media screen and(max-width: 1200px){

}
    

@media screen and(max-width: 1400px){
    
}
    